button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid #000;
	border-radius: 0;
	background: #fff;
	color: #000;
	font-family: $font__main;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover,
	&:active,
	&:focus {
		border-color: #000;
		color: #fff;

	}
}